.attractions {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.attractions__paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}
