.contacts__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.contacts__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: regular;
  color: $grey;
  text-transform: uppercase;
}

.search__hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  background-color: $blue;
  text-decoration: none;
}
