.booking {
  text-align: center;
}

.contacts__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
  margin: 0;
}

.contacts__text {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  text-align: center;
}

.booking__contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

.booking__map {
  height: 350px;
  margin-top: 49px;
  background-image: url("../../img/icon-map-marker.svg"), url("../../img/bg-map-mobile@1x.jpg");
  background-size: 27px 27px, cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/icon-map-marker.svg"), url("../../img/bg-map-mobile@2x.jpg");
  }
}
