.contacts__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: $black;
}

.contacts__text {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}

.booking__contacts {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}
