

.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 13px;
}

@media (max-width: $mobile-width-only) {
  .copyright {
    padding-top: 25px;
  }
}

