.emotion {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.emotion__paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  background-color: $lightergrey;
}
