.feedback__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}


.feedback__paragraph {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}


@media (min-width: $tablet-width) {
  .feedback__form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
  }
}

// @media (min-width: $tablet-width) {
//   .feedback__form:nth-child(3) {
//     display: block;
//     width: 100%;
//   }
// }

@media (min-width: $tablet-width) {
  .contacts__fieldset {
    display: block;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__fieldset {
    display: flex;
  }
}
