.form__legend {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.form__p {
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  color: $grey;
  text-transform: uppercase;
  background-color: $lightergrey;
}

.form__input {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  background-color: $lightergrey;
}

.impression {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.impression p {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.attractions {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.attractions p {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
}

.emotion {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.emotion p {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  background-color: $lightergrey;
}

.form__submit {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  background-color: $blue;
}
