.form__legend {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.form__p {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: $grey;

  background-color: $lightergrey;
}

.form__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  background-color: $lightergrey;
}

.form__submit {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $white;

  background-color: $blue;
}

.form__fieldset {
  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
    padding: 0;
  }
}
