.form__legend {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.form__p {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: $grey;

  background-color: $lightergrey;
}

.form__input {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  background-color: $lightergrey;
}

.form__submit {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  display: inline-block;
  padding-left: 32px;
  padding-right: 33px;
  padding-top: 18.5px;
  margin: 0 auto;
  padding-bottom: 13.5px;
  background-color: $blue;
}

.form__fieldset {
  @media (min-width: $tablet-width) {
    width: 45%;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .form__submit {
    padding-left: 49px;
    padding-right: 60px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .form__submit {
    padding-left: 133px;
    padding-right: 132px;
  }
}
