.impression {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.impression__paragraph {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.impression-field {
  @media (min-width: $tablet-width) {
    display: block;
    order: -1;
    width: 45%;
    flex-wrap: nowrap;
  }
}

