.page {
  height: 100%;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.page__body {
  margin: 0;

  min-width: 320px;
  min-height: 100%;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  color: $grey;

  background-color: $black;
}

.page__container {
  margin: 0 auto;

  width: 320px;
}

@media (min-width: $tablet-width) {
  .page__container {
    margin: 0 auto;


    width: 768px;
  }

  .main-nav__toggle {

    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
  }
}


@media (min-width: $desktop-width) {
  .page__container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    display: flex;
    flex-direction: row;
  }
}
