.page {
  height: 100%;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  color: $grey;
  background-color: $white;
}
