.photo__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.photo__intro {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}

.photo-card__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $black;
}

.photo-card__paragraph {
  font-weight: regular;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}

.photo__list {
  @include resetlist ();
}

.photo__item--wide {
  @media (min-width: $tablet-width) {
    width: 768px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: auto;
  }
}


@media (min-width: $tablet-width) {
  .photo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .photo__item {
    width: 33%;
  }

  .photo__item--wide {
    width: 100%;
  }
}
