.photo__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.photo__intro {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}

.photo-card__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: $black;
}

.photo-card__paragraph {
  font-weight: regular;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
}
