.player__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: $black;
  text-transform: uppercase;
}

.player__intro {
  font-size: 14px;
  line-height: 24px;
  font-weight: regular;
  color: $grey;
  text-transform: uppercase;
}
