.reasons__list {
  list-style: none;
}

.reasons__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-transform: uppercase;
}

.reasons__intro {
  font-weight: regular;
  font-size: 18px;
  line-height: 26px;
  color: $grey;
  text-transform: uppercase;
}

.reasons__container {
  background-color: $blue;
}

.reasons__item--type-1 {
  @media (min-width: $desktop-width) {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 960px;
  }
}

.reasons__item--type-2 {
  @media (min-width: $desktop-width) {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
  }
}

.reasons__item--type-3 {
  background-color: $lightgrey;

  @media (min-width: $desktop-width) {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 960px;
  }
}

.reasons__description {
  font-weight: regular;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  text-transform: uppercase;
}

.reasons__item--type-2 .reasons__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.reasons__item--type-2 .reasons__description {
  font-weight: regular;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-transform: uppercase;
}


.reasons__item--type-3 .reasons__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-transform: uppercase;
}

.reasons__item--type-3 .reasons__description {
  font-weight: regular;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
  text-transform: uppercase;
  background-color: $lightgrey;
}
