.reasons__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include resetlist ();
}

.reasons__title__main {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: center;

  background-image: url("img/back-mobile.jpg");
  background-repeat: no-repeat;
}

.reasons__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  text-align: center;
}

@media (max-width: $mobile-width-only) {
  .reasons__title--first {
    margin-bottom: 0;
    margin-top: 15px;
  }
}

.reasons__intro {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: $grey;
}

@media (max-width: $mobile-width-only) {
  .reasons__intro {
    width: 285px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $tablet-width) {
  .reasons__intro {
    margin-top: 13px;
    margin-bottom: 53px;
  }
}

@media (min-width: $desktop-width) {
  .reasons__intro {
    margin-top: 14px;
    margin-bottom: 42px;
  }
}

@media (max-width: $mobile-width-only) {
  .reasons__title__main {
    width: 285px;
    margin-top: 1px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 3px;
    text-align: center;
  }
}

.reason__number {
  margin-top: 11px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.description {
  position: relative;

  background-color: $blue;
  display: flex;
  flex-direction: column;
}

.description--first {
  position: relative;
  padding-top: 55px;
  padding-bottom: 20px;
  width: 320px;
  min-height: 151px;
  background-color: $blue;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  z-index: 0;
}

.description--first::before {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: url("../img/bg-triangle.svg");
    top: -1px;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .description {
    display: flex;
    width: 33%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}

.reasons__photo {
  display: flex;
  width: 66%;
}

@media (min-width: $tablet-width) {
  .reasons__title {
    display: inline-block;
    text-align: center;
  }
}

.reasons__item {
  position: relative;
  text-align: left;
  list-style-type: none;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 33.33%;

    .reasons__list:nth-child(2) {
      order: 3;
    }
  }
}

.reasons__icon--housing {
  position: absolute;

  @media (max-width: $mobile-width-only) {
    top: -10px;
    left: -48px;
    width: 39px;
    height: 37px;
    fill: $blue;
  }
}

@media (min-width: $desktop-width) {
  .description {
    display: flex;
    width: 33%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .reasons__photo {
    width: 66%;
  }
}


@media (min-width: $tablet-width) {
  .reasons__item--type-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .reasons__item--type-1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1200px;
  }
}

@media (min-width: $tablet-width) {
  .reasons__description {
    text-align: center;
  }
}

.reasons__item--type-3 {
  background-color: $lightgrey;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 33%;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;

    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // max-width: 960px;
  }
}


@media (min-width: $desktop-width) {
  .reasons__item--type-3 {

    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}

.reasons__description {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  margin-left: auto;
  margin-right: auto;
}

.reasons__item--type-2 .reasons__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.reasons__item--type-2 .reasons__description {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $grey;
}


.reasons__item--type-3 .reasons__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.reasons__item--type-3 .reasons__description {
  font-weight: regular;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  color: $grey;

  background-color: $lightgrey;
}

@media (min-width: $tablet-width) {
  .reasons-list {
    width: 723px;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  // .reasons-item {
  //   display: flex;
  //   flex-wrap: wrap;
  //   flex-direction: row;
  // }
}

.reasons__item--type-2 {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 33%;
  }

  @media (min-width: $tablet-width) {
    .reasons__item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 768px;
    }
  }
}

// @media (min-width: $tablet-width) {
//     .reasons__title__main {
//       color: $black;

//       background-image: url("img/back-mobile.jpg");
//       background-repeat: no-repeat;
//     }
//       @media (min-resolution: 2dppx) {
//       background-image: url("img/back-mobile@2x.jpg");
//       background-size: 1338px auto;
//       }
//     }
//   }

// @media (min-width: $desktop-width) {
//   height: 518px;
//   background-position: 50% 0;
//   background-size: cover;
//   }
// }
.reasons__title--2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  text-align: left;
}
