.site-list {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;

  @include resetlist ();
}

.site-list__item {
  list-style: none;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: $black;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    width: 20%;
    border: 1px solid blue;
  }

  .site-list__item:nth-of-type(2n) {
    margin-right: auto;
  }

  .site-list__item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.site-list__item-link {
  display: block;

  text-align: center;

  border-bottom: 1px solid black;

  background-color: yellow;
  text-decoration: none;
  color: $black;
}

.site-list__item-link:hover {
  text-decoration: none;
  color: $blue;
}

.site-list__item--active .site-list__item-link:active {
  color: $brown;
}

.site-list__item--active .site-list__item-link:hover {
  color: $lightbrown;
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 723px;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1105px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    background-color: transparent;
  }
}
