$dark-blue: #669ec0;
$darkest-blue: #5496bd;
$grey1: #e5e5e5;
$grey2: #d5d5d5;
$grey3:#dbdbdb;
$grey4: #d6d6d6;
$grey5: #5c6870;
$white: #ffffff;
$white1: #e6e6e6;
$black: #000000;
$grey: #333333;
$blue: #81b3d2;
$lightgrey: #eeeeee;
$brown: #766357;
$lightergrey: #f2f2f2;
$lightbrown: #604e43;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

body {
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0;
  margin: 0;
  min-width: 320px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  margin: -1px;
  width: 1px;
  height: 1px;

  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans.woff2") format("woff2"),
    url("../fonts/pt-sans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2"),
    url("../fonts/pt-sans-bold.woff") format("woff");
}

@mixin resetlist ( ) {
  margin: 0;

  padding: 0;
  list-style: none;
}
