// Global
@import "global/variables.scss";
@import "global/mixin.scss";
@import "global/fonts.scss";
@import "global/global.scss";

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


// Blocks
@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/reasons.scss";
@import "blocks/attractions.scss";
@import "blocks/emotion.scss";
@import "blocks/impression.scss";
@import "blocks/search.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/contacts.scss";
@import "blocks/copyright.scss";
@import "blocks/feedback.scss";
@import "blocks/form.scss";
@import "blocks/photo.scss";
@import "blocks/player.scss";
@import "blocks/main-page.scss";
@import "blocks/features.scss";
@import "blocks/logo.scss";
@import "blocks/intro.scss";


// Начните писать стили здесь
