// Global
@import "global/variables.scss";
@import "global/mixin.scss";
@import "global/fonts.scss";
@import "global/global.scss";

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


// Blocks
@import "blocks/button.scss";
@import "blocks/page-container.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/advantages.scss";
@import "blocks/booking.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/intro.scss";
@import "blocks/photo.scss";
@import "blocks/picture-card.scss";
@import "blocks/video.scss";
@import "blocks/videoplayer.scss";
@import "blocks/feedback.scss";
@import "blocks/form.scss";
@import "blocks/modal.scss";
@import "blocks/modal-wrong.scss";
@import "blocks/modal-right.scss";
